<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-2">Proyect your Password</h1>
        <p class="my-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero est odit rerum laudantium ut natus praesentium tenetur, nobis sed dolores quisquam nulla vero repellendus? Fuga non laborum fugit sed!
        </p>
        <button class="bg-indigo-500 hover:bg-indigo-400 px-3 py-2">Start Now</button>
    </div>
    <img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
