---
import Layout from "../layout/Layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima nostrum velit doloribus, cumque iste voluptatem. Rem quis dolorem mollitia reprehenderit repellat ab sit atque est quidem animi vitae debitis quod adipisci nisi, voluptatibus officia provident nulla magni. Dolorem enim quaerat, delectus reiciendis ea facilis molestias deleniti commodi voluptatibus cumque et eaque similique ut itaque, sed, perferendis voluptatum sunt numquam? Nobis atque hic itaque inventore nostrum ratione vitae, ut praesentium eius distinctio ea laudantium tempore. Accusamus repellendus vel ullam, fuga fugiat ducimus reprehenderit voluptates corrupti omnis esse consequuntur ad eius excepturi iste laborum autem odit velit ex eaque dolorum, maiores magnam.</p>
</Layout>